<%= content_tag('h1','Search', class: 'title') %>
<%= form_with url: search_path, method: :get, id: 'search-form' do |f| %>
    <div id="search-data" class="form-search search-data" data-suggestions="<%= @suggestions.to_json %>">
        <%= f.search_field :title, id: 'search', placeholder: 'Type to search for articles!' %>
    </div>
<% end %>
<% @articles.each do |article| %>
    <%= content_tag('article') do %>
        <header><%= article.title %></header>
        <%= content_tag('p', article.description) %>
    <% end %>
<% end %>
<% if @articles.count == 0 %>
    <%= content_tag('article', 'No results!') %>
<% end %>