<!DOCTYPE html>
<html>
  <head>
    <title>SearchRealtime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <ul>
        <li><strong>Stratospherique</strong></li>
      </ul>
      <ul>
        <% if current_user %>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Search', search_path %></li>
          <li><%= current_user.username %> |</li>
          <li><%= link_to "Sign out", '/signout' %></li>
        <% else %>
          <li><%= link_to "Sign up", 'signup' %> |</li>
          <li><%= link_to "Sign in", '/signin' %></li>
        <% end %>
      </ul>
    </nav>

    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
